<ul class="nav justify-content-center nav-sigep">
    <li class="nav-item">
        <a class="nav-link" href="#">Pliego Unico Bienes y Servicios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pliego Unico Obras Públicas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Directa por Excepción Adjudicación Simple</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Directa por Excepción Compulsa Abreviada</a>
    </li>
</ul>
<div class="d-flex justify-content-center">
    <img src="../../../../assets/construccion.png" alt="">
</div>