<ul class="nav justify-content-center nav-sigep">
    <li class="nav-item">
        <a class="nav-link" routerLink="bienesyserv" routerLinkActive="active-link">Pliego Unico Bienes y Servicios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="obraspublicas" routerLinkActive="active-link">Pliego Unico Obras Públicas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="adjsimple" routerLinkActive="active-link">Directa por Excepción Adjudicación Simple</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="compulsa" routerLinkActive="active-link">Directa por Excepción Compulsa Abreviada</a>
    </li>
</ul>
<div class="d-flex justify-content-center">
    <img src="../../../../assets/construccion.png" alt="">
</div>