<h1 class="text-center py-3 m-4" fragment="pubs"><u>Pliego Unico Bienes y Servicios</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../assets/org-provinciales/1-INICIAR-PLIEGO-BYS.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<h1 class="text-center py-3 m-4" id="comp"><u>Directa por Excepción Compulsa Abreviada</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../assets/org-provinciales/2- tuto-directaxexcepcionAS1.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<h1 class="text-center py-3 m-4" id="comp"><u>Previzualizar Pliego</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../assets/org-provinciales/3- PREVISUALIZAR-PLIEGOS.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>