<h1 class="text-center py-2">Presentación de Rendición</h1>
<h3 class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore nesciunt vel distinctio tempora officiis! Consequuntur, iure doloribus, nostrum adipisci exercitationem earum excepturi eligendi aliquid minima hic quaerat ducimus esse? Eligendi?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem. Quisquam, temporibus! Voluptatem cupiditate dolor quis repudiandae, explicabo tenetur consectetur perspiciatis quo aperiam quibusdam minima impedit voluptas non totam ratione!
</h3>
