<h1 class="text-center py-3 m-4"><u>Transferencia</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../../assets/rendicion/transferencia/INICIO TRANSFERENCIA.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class=" instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <h4 class="pb-2">Ingreso de una nueva TRANSFERENCIA: </h4>
                <ol>
                    <li>
                        <p>Deberá seleccionar la RENDICION donde va a comenzar a trabajar</p>
                    </li>
                    <li>
                        <p>Posicionarse sobre la rama de Ingresos, podrá ver los distintos tipos de transferencias que puede registrar</p>
                    </li>
                    <li class="pb-2">
                        Para dar de alta un ingreso, hacer CLIC DERECHO sobre la ventana derecha y seleccionar Nueva. A continuación ingresar los datos solicitados que se refieren a la transferencia:
                        <ul>
                            <li>Tipo según corresponda</li>
                            <li>Numero de Transferencia</li>
                            <li>Fecha</li>
                            <li>Monto recibido</li>
                            <li>Concepto: ingresar alguna observación que considere necesaria</li>
                        </ul>
                    </li>
                    <li>
                        <p>En el botos superior derecho debe vincular toda la información que refiera a la operación que acaba de ingresar</p>
                    </li>
                    <li>
                        <p>Una vez ingresados clic en Guardar.
                        </p>
                    </li>
                </ol>
                <h5 class="fst-italic">IMPORTANTE que todos estos datos estén ingresados antes de GUARDAR la transferencia. El botón de la derecha que inicialmente tiene un numero 0, se utilizara para vincular los documentos necesarios de toda la operación. Si no ha realizado la vinculación de dichos documentos, la operación NO SERA REGISTRADA EN EL SISTEMA.</h5>
            </ul>
        </div>
    </div>
</div>

