<h1 class="text-center py-2">Gestión y Ejecución del Presupuesto</h1>
<h3 class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore nesciunt vel distinctio tempora officiis! Consequuntur, iure doloribus, nostrum adipisci exercitationem earum excepturi eligendi aliquid minima hic quaerat ducimus esse? Eligendi?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem. Quisquam, temporibus! Voluptatem cupiditate dolor quis repudiandae, explicabo tenetur consectetur perspiciatis quo aperiam quibusdam minima impedit voluptas non totam ratione!
</h3>
<div class="container py-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item mx-4">
                <a class="nav-link" href="/gestionejecucionpresupuesto/#asignacionderecursos">Asignación de Recursos</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="/gestionejecucionpresupuesto/#modificaciondepresupuesto">Modificación de Presupuesto</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="/gestionejecucionpresupuesto/#ejecuciondepresupuesto">Ejecución de Presupuesto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
<div class="container py-3" id="asignacionderecursos">
    <h3 >Asignación de Recursos</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
</div>
<div class="container py-3">
    <h3 id="modificaciondepresupuesto">Modificación de Presupuesto</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
</div>
<div class="container py-3">
    <h3 id="ejecuciondepresupuesto">Ejecución de Presupuesto</h3>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio officiis, iusto harum ratione optio dolores nulla modi, dolor est nesciunt pariatur, quaerat quasi ad temporibus. Optio et commodi modi!</h5>
</div>
