<h1 class="text-center py-3 m-4"><u>Reseteo de Clave</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../assets/cambio-clave/4-cambio-clave.mov" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class="col-sm-4 instrucciones">
            <h2 class="text-center pb-4"><u>Instrucciones</u></h2>
            <ol>
                <li>
                    <h4>Ingrese a la <a href="http://tcse.gob.ar/gesdoc/" target="_blank">ventana única</a>.</h4>
                </li>
                <li>
                    <h4>Ingreso de usuario y clave otorgada por el administrador del sistema, la que sera utilizada por unica vez.</h4>
                </li>
                <li>
                    <h4>Al hacer clic en Ingresar, se abre un formulario que solicita el reingreso de la misma y la nueva contraseña.</h4>
                </li>
                <li>
                    <h4>A continuación debe ingresar al sistema con los datos usuario y la nueva contraseña que acaba de ingresar.</h4>
                </li>
            </ol>
            <hr>
            <h5 class="fst-italic">Recomendaciones para la nueva clave:
                <hr>
                <ul>
                    <li>
                        <p>Al menos 1 letra en mayúsculas.</p>
                    </li>
                    <li>
                        <p>Al menos 1 letra en minúsculas.</p>
                    </li>
                    <li>
                        <p>Al menos 1 número.</p>
                    </li>
                    <li>
                        <p>Mínimo 8 caracteres de longitud.</p>
                    </li>
                </ul>
            </h5>
        </div>
        <div class="col-sm-8 carousel-vu">
            <h2 class="text-center pb-2"><u>Imágenes</u></h2>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../../assets/cambio-clave/cambio-clave-1.png" class="d-block w-100" alt="cambio-clave-1">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/cambio-clave/cambio-clave-2.png" class="d-block w-100" alt="cambio-clave-2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/cambio-clave/cambio-clave-3.png" class="d-block w-100" alt="cambio-clave-3">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                  <span class="text-black">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="false"></span>
                  <span class="text-black">Siguiente</span>
                </button>
              </div>
        </div>
    </div>
</div>
