<h1 class="text-center py-3"><u>Orden de Pago</u></h1>
<hr>
<div class="d-flex justify-content-center" id="video-ingreso-vu">
    <video src="../../../../../assets/rendicion/orden de pago/NUEVA ORDEN DE PAGO.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<hr>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class=" instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <h4 class="pb-2">Ingreso de una nueva ORDEN DE PAGO: </h4>
                <ol>
                    <li>
                        <p>Deberá seleccionar la RENDICION donde va a comenzar a trabajar</p>
                    </li>
                    <li>
                        <p>Posicionarse sobre la rama de EGRESOS, podrá ver los distintos tipos que puede registrar. Ordenes de Pago y Retenciones (que son ordenes de pago especificas)</p>
                    </li>
                    <li class="pb-2">
                        Para dar de alta una OP, HACER CLIC DERECHO sobre la ventana derecha y seleccionar Nueva. A continuación ingresar los datos solicitados que se refieren a la op:
                        <ul>
                            <li>Numero de OP se genera automáticamente (NO DEBE SER INGRESADA)</li>
                            <li>Fecha: debe tener en cuenta que la fecha debe encontrarse en el periodo que ingreso cuando dio de alta la rendición. Sino esta op no será incluida en la misma</li>
                            <li>Numero Acto Administrativo: es el numero de la ordenanza o resolución de intendente que autoriza el gasto</li>
                            <li>Persona: seleccionar la razón social / proveedor o destinatario del gasto</li>
                            <li>Tipo de Comprobante: referido al gasto (Factura, ticket, recibo,…)</li>
                            <li>Nro Comprobante: del proveedor</li>
                            <li>Pto Venta: del comprobante del proveedor</li>
                        </ul>
                    </li>
                    <li class="pb-2">
                        Sección Items:
                        En esta sección de la generación de la OP, se debe seleccionar la PARTIDA PRESUPUESTARIA donde se imputa el gasto. Para esto seleccione agregar y a continuación los datos de la partida.
                        <ul>
                            <li>Ejercicio</li>
                            <li>Unidad Presupuestaria</li>
                            <li>Origen de Fondo</li>
                            <li>Partida Presupuestaria</li>
                            <li>Monto</li>
                            <li>Detalle</li>
                        </ul>
                    </li>
                    <li>Click en Guardar</li>
                    <li>Volvemos a la pantalla principal de la OP</li>
                    <li class="pb-2">
                        Sección Formas de Pago.
                        En esta sección de la generación de la OP, se debe seleccionar la FORMA DE PAGO
                        Las opciones son:
                        <ul>
                            <li>Pago con cheque</li>
                            <li>Pago con Transferencia/Deposito</li>
                            <li>Pago con Efectivo</li>
                        </ul>
                    </li>
                    <li>Seleccionado la forma de pago, se habilita la ventana que corresponda para el ingreso de los detalles específicos de la forma de pago seleccionada.</li>
                    <li>En el botos superior derecho DEBE VINCULAR TODA LA DOCUMENTACION QUE refiera a la operación que acaba de ingresar</li>
                    <li>Una vez ingresados clic en Guardar.</li>
                </ol>
                <h5 class="fst-italic pt-3">IMPORTANTE que todos estos datos estén ingresados antes de GUARDAR la transferencia. El botón de la derecha que inicialmente tiene un numero 0, se utilizara para vincular los documentos necesarios de toda la operación. Si no ha realizado la vinculación de dichos documentos, la operación NO SERA REGISTRADA EN EL SISTEMA.</h5>
            </ul>
        </div>
    </div>
</div>

