<h1 class="text-center py-3 m-4"><u>Alta de Usuario</u></h1>
<div class="d-flex justify-content-center m-5" id="video-ingreso-vu">
    <video src="../../../../assets/alta-usuario/2-alta-usuario.mov" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class="col-sm-4 instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <li>
                    <h4>Enviar <a href="mailto:admin_coordinaciontic@tcse.gob.ar">email</a> con la siguiente información: </h4>
                </li>
                    <ol>
                        <li>
                            <p>Apellido y Nombre.</p>
                        </li>
                        <li>
                            <p>Organismo Solicitante.</p>
                        </li>
                        <li>
                            <p>Copia de 1 y 2 hora del DNI, escaneadas o fotografiadas.</p>
                        </li>
                        <li>
                            <p>Motivo alta de usuario.</p>
                        </li>
                        <li>
                            <p>Correo electrónico personal / institucional del solicitante.</p>
                        </li>
                        <li>
                            <p>Autorización de solicitud de blanqueo de clave firmado por autoridad competente.</p>
                        </li>
                    </ol>
                <li>
                    <p><a href="mailto:admin_coordinaciontic&#64;tcse.gob.ar">admin_coordinaciontic&#64;tcse.gob.ar</a></p>
                </li>
            </ul>
            <hr>
            <h5 class="fst-italic">La información necesaria para completar el tramite de blanqueo de clave, sera enviada al correo electrónico declarado en el punto (5)
            </h5>
        </div>
        <div class="col-sm-8 carousel-vu">
            <h2 class="text-center pb-4"><u>Imágenes</u></h2>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../../assets/alta-usuario/alta-usuario.png" class="d-block w-100" alt="alta-usuario" href="">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                  <span class="text-black">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="false"></span>
                  <span class="text-black">Siguiente</span>
                </button>
              </div>
        </div>
    </div>
</div>


