<h1 class="text-center py-2">Rendiciones de Cuenta</h1>
<h3 class="mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore nesciunt vel distinctio tempora officiis! Consequuntur, iure doloribus, nostrum adipisci exercitationem earum excepturi eligendi aliquid minima hic quaerat ducimus esse? Eligendi?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem. Quisquam, temporibus! Voluptatem cupiditate dolor quis repudiandae, explicabo tenetur consectetur perspiciatis quo aperiam quibusdam minima impedit voluptas non totam ratione!
</h3>
<div class="container py-5">
    <h3>Nueva Rendición</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores animi quasi itaque ab commodi eius numquam laboriosam? Animi, vel. Sint eligendi culpa provident quo fuga? Excepturi, laboriosam nobis! Nemo, cum?</h5>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, delectus veniam tempore, ullam officia quae repellendus numquam, sed consequatur consequuntur enim eum cum quis sint iusto voluptate magnam nam dolore!</h5>
</div>
