<h1 class="text-center py-2">Rendiciones de Cuenta</h1>
<hr>
<div class="d-flex justify-content-center" id="video-ingreso-vu">
    <video src="../../../../assets/rendicion/INICIO NUEVA RENDICION .mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<hr>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class=" instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <li>
                    <h4>Inicio de una nueva rendicion: </h4>
                </li>
                    <ol>
                        <li>
                            <p>Ingresar a la Ventana unica</p>
                        </li>
                        <li>
                            <p>Ingresar usuario y contraseña ototrgada por la COORDINACION TIC del TDEC</p>
                        </li>
                        <li>
                            <p>SELECCIONAR EN EL MENU la opción: GESTION Y RENDICION DE CUENTAS
                            </p>
                        </li>
                        <li>
                            <p>Se despliega en la pantalla la identificación del ORGANISMO LOCAL, seleccionar SISTEMA S A R C</p>
                        </li>
                        <li>
                            <p>Seleccionar en el menú OPERACIONES DEL MUNICIPIO la opción Listado de Rendiciones
                            </p>
                        </li>
                        <li>
                            <p>Autorización de solicitud de blanqueo de clave firmado por autoridad competente.</p>
                        </li>
                        <li>
                            <p>Se desplegara una ventana con las rendiciones que se hayan generado, en sus distintos estados PRESENTADA o ACTIVA.</p>
                        </li>
                        <li>
                            <p>PARA generar una RENDICION NUEVA,. Clic derecho del mouse y NUEVA</p>
                        </li>
                        <li>
                            <p>Se habilitara una ventana que le pide el ingeso de los datos necesarios para la nueva rendición.</p>
                        </li>
                        <li>
                            <p>Una vez ingresados clic en guardar.</p>
                        </li>
                    </ol>
            </ul>
        </div>
    </div>
</div>