<h1 class="text-center p-2">Rendiciones de Cuenta</h1>
<hr>
<div class="d-flex justify-content-center" id="video-ingreso-vu">
    <video src="../../../../assets/rendicion/INICIO NUEVA RENDICION .mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<hr>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class=" instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <li>
                    <h4 class="pb-2">Inicio de una nueva rendicion: </h4>
                </li>
                    <ol>
                        <li>
                            <p>Ingresar a la Ventana unica</p>
                        </li>
                        <li>
                            <p>Ingresar usuario y contraseña ototrgada por la coordinación TIC del TDEC</p>
                        </li>
                        <li>
                            <p>Seleccionar en el menú la opción: GESTION Y RENDICION DE CUENTAS
                            </p>
                        </li>
                        <li>
                            <p>Se despliega en la pantalla la identificación del ORGANISMO LOCAL, seleccionar SISTEMA S A R C</p>
                        </li>
                        <li>
                            <p>Seleccionar en el menú OPERACIONES DEL MUNICIPIO la opción Listado de Rendiciones
                            </p>
                        </li>
                        <li>
                            <p>Autorización de solicitud de blanqueo de clave firmado por autoridad competente.</p>
                        </li>
                        <li>
                            <p>Se desplegara una ventana con las rendiciones que se hayan generado, en sus distintos estados PRESENTADA o ACTIVA.</p>
                        </li>
                        <li>
                            <p>Para generar una RENDICION NUEVA, Clic derecho del mouse y NUEVA</p>
                        </li>
                        <li>
                            <p>Se habilitara una ventana que le pide el ingeso de los datos necesarios para la nueva rendición.</p>
                        </li>
                        <li>
                            <p>Una vez ingresados clic en guardar.</p>
                        </li>
                    </ol>
            </ul>
        </div>
    </div>
</div>
<h1 class="text-center p-2">Datos</h1>
<hr>
<div class="d-flex justify-content-center" id="video-ingreso-vu">
    <video src="../../../../assets/rendicion/INICIO NUEVA RENDICION DATOS.mp4" class="object-fit-contain videos-responsive" [muted]="true" autoplay controls></video>
</div>
<hr>
<div class="container py-4 d-grid" id="info-vu">
    <div class="row">
        <div class=" instrucciones">
            <h2 class="text-center pb-3"><u>Instrucciones</u></h2>
            <ul>
                <li>
                    <h4 class="pb-3">
                        Cuando UD. Crea una nueva rendicion, 
                        se habilitara una ventana que le pide el ingeso de los datos necesarios para la nueva rendición.
                        Es IMPORTANTE que los datos que ingresa incluya:
                    </h4>
                </li>
                <ol>
                    <li class="pb-2">
                        Descripción. Debe tener el siguiente formato:
                        <ul>
                            <li>Nombre del upde rendicion</li>
                            <li>Numero de Periodo</li>
                            <li>Periodo</li>
                        </ul>
                        Ejemplo: 'FFE 4 semestre 2024'
                    </li>
                    <li>
                        <p>Desde: es la fecha de inicio de lo que se va a rendir
                        </p>
                    </li>
                    <li>
                        <p>Hasta: corresponde a la fecha final del periodo rendido</p>
                    </li>
                    <li>
                        <p>Ejercicio: año que corresponde
                        </p>
                    </li>
                    <li>
                        <p>UP: unida de presupuesto y rendición: seleccionar la opción que corresponda</p>
                    </li>
                    <li>
                        <p>Saldo Inicial: el monto de inicio de la rendición</p>
                    </li>
                    <li>
                        <p>Una vez ingresados clic en Guardar.</p>
                    </li>
                </ol>
            </ul>
            <h5 class="fst-italic">IMPORTANTE que todos estos datos estén ingresados antes de GUARDAR la rendición. El botón de la derecha que inicialmente tiene un numero 0, se utilizara para vincular los documentos necesarios de toda la rendición. Por ejemplo en cas de FFE se vincularan los anexos que deben presentarse.</h5>
        </div>
    </div>
</div>